<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
  <form action="{% url 'api:create_order' %}" method="POST">
    {% csrf_token %}
    {% for item in items %}
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
      <p>{{ item.price }} cents</p>
      <input type="checkbox" name="{{ item.id }}"> Add to order
    {% endfor %}
    <br>
    <input type="submit" value="Create order" class="btn btn-success">
  </form>
</body>
</html>
